flows_raspberrypi.json
[{"id":"91e28770.a65a28","type":"tab","label":"Playground","disabled":false,"info":""},{"id":"b9b57550.517d58","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.3","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"31bfd0b9.0807a","type":"mqtt in","z":"91e28770.a65a28","name":"tmp/prs","topic":"remote","qos":"2","datatype":"auto","broker":"b9b57550.517d58","x":101,"y":321,"wires":[["ba0aa456.dbf7d8"]]},{"id":"ba0aa456.dbf7d8","type":"debug","z":"91e28770.a65a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":449,"y":333,"wires":[]},{"id":"6cab3df9.0ffa44","type":"http in","z":"91e28770.a65a28","name":"","url":"/hans","method":"get","upload":false,"swaggerDoc":"","x":101,"y":545,"wires":[["b521bba9.ef9e18","8695a7fc.0f8358"]]},{"id":"6635723b.5996cc","type":"http in","z":"91e28770.a65a28","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":189,"y":676,"wires":[["d51106f2.abfb38"]]},{"id":"d51106f2.abfb38","type":"template","z":"91e28770.a65a28","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!{{req.query.test}}</h1>\n    </body>\n</html>","x":372,"y":680,"wires":[["747b8a4f.a11884","d5a77dc8.4cd92","3b8b483d.5ea648"]]},{"id":"747b8a4f.a11884","type":"http response","z":"91e28770.a65a28","name":"","statusCode":"200","headers":{"content-type":"text/html"},"x":558,"y":709,"wires":[]},{"id":"b521bba9.ef9e18","type":"debug","z":"91e28770.a65a28","name":"ll","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":327,"y":453,"wires":[]},{"id":"e26a18a8.9b84d8","type":"http response","z":"91e28770.a65a28","name":"","statusCode":"","headers":{"content-type":"text/css"},"x":605,"y":555,"wires":[]},{"id":"de6687b6.119138","type":"template","z":"91e28770.a65a28","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":389,"y":550,"wires":[["e26a18a8.9b84d8","412e43e6.513a9c"]]},{"id":"d5a77dc8.4cd92","type":"debug","z":"91e28770.a65a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":568,"y":646,"wires":[]},{"id":"2ae0e4e.a8c391c","type":"mqtt in","z":"91e28770.a65a28","name":"","topic":"industruinoOutTopic","qos":"2","datatype":"auto","broker":"b9b57550.517d58","x":143,"y":397,"wires":[["9a9a013b.e99dd"]]},{"id":"9a9a013b.e99dd","type":"debug","z":"91e28770.a65a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":448,"y":365,"wires":[]},{"id":"12320080.79e08","type":"mqtt out","z":"91e28770.a65a28","name":"","topic":"industruinoInTopic","qos":"2","retain":"","broker":"b9b57550.517d58","x":502,"y":65,"wires":[]},{"id":"f73edec4.81d87","type":"inject","z":"91e28770.a65a28","name":"turn LCD off","props":[{"p":"payload","v":"0","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":133,"y":90,"wires":[["12320080.79e08"]]},{"id":"8ce54100.6caf","type":"inject","z":"91e28770.a65a28","name":"turn LCD on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":132,"y":36,"wires":[["12320080.79e08"]]},{"id":"4098532a.fff5dc","type":"debug","z":"91e28770.a65a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":579,"y":143,"wires":[]},{"id":"72267ce5.3b5334","type":"function","z":"91e28770.a65a28","name":"toggle 1/0","func":"context.state = context.state | false;\ncontext.state = !context.state\nvar myContext = context.state;\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n//define function isOdd 1 === isOdd\nfunction isOdd(num) { return num % 2;}\n/*if myContext is true and count is odd send 1,\nelse send 0 */\nif(myContext === true && isOdd((count+1)/2) ===1){\n    msg.payload = 1;\n    return msg;\n} else if (myContext === true && isOdd((count+1)/2) ===0){\n    msg.payload = 0;\n    return msg;\n}","outputs":1,"noerr":0,"x":362,"y":172,"wires":[["4098532a.fff5dc"]]},{"id":"72c88873.8c9948","type":"mqtt out","z":"91e28770.a65a28","name":"","topic":"industruinoInTopic","qos":"2","retain":"","broker":"b9b57550.517d58","x":605,"y":206,"wires":[]},{"id":"15cb7bc5.0ee184","type":"inject","z":"91e28770.a65a28","name":"","repeat":"0.3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":125,"y":178,"wires":[["72267ce5.3b5334"]]},{"id":"360c93b9.f571ac","type":"debug","z":"91e28770.a65a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":448,"y":299,"wires":[]},{"id":"f736780f.a28798","type":"mqtt in","z":"91e28770.a65a28","name":"","topic":"industruinoOutTopicCH1","qos":"2","datatype":"auto","broker":"b9b57550.517d58","x":158,"y":261,"wires":[["360c93b9.f571ac"]]},{"id":"e5052ba5.162c28","type":"inject","z":"91e28770.a65a28","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":133,"y":131,"wires":[[]]},{"id":"3b8b483d.5ea648","type":"debug","z":"91e28770.a65a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.query","x":571,"y":597,"wires":[]},{"id":"e792f558.42c518","type":"udp in","z":"91e28770.a65a28","name":"upd test","iface":"","port":"1238","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":146.5,"y":847,"wires":[["62ff8309.66d82c","6b9ccede.63e4c"]]},{"id":"62ff8309.66d82c","type":"debug","z":"91e28770.a65a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":391.5,"y":797,"wires":[]},{"id":"a745d60a.3a92d8","type":"mqtt out","z":"91e28770.a65a28","name":"","topic":"","qos":"","retain":"","broker":"b9b57550.517d58","x":769.5,"y":935.000244140625,"wires":[]},{"id":"6b9ccede.63e4c","type":"split","z":"91e28770.a65a28","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":403,"y":890.3333740234375,"wires":[["a25a1a73.0360a"]]},{"id":"6bcca1c7.622aa8","type":"debug","z":"91e28770.a65a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":789,"y":844,"wires":[]},{"id":"a25a1a73.0360a","type":"function","z":"91e28770.a65a28","name":"","func":"a = msg.payload.split(\":\")\n\nvar msg1 = { topic:a[0]+\"/\"+a[1]+\"/\"+a[2], payload:a[3] };\n\n\n\nnode.log(\"testnode\")\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":565,"y":849,"wires":[["6bcca1c7.622aa8","a745d60a.3a92d8"]]},{"id":"e0367206.75e2a8","type":"mqtt in","z":"91e28770.a65a28","name":"motion_sensor","topic":"sensor_motion","qos":"2","datatype":"auto","broker":"b9b57550.517d58","x":175,"y":1144,"wires":[["e8c189eb.2a4e48"]]},{"id":"49f6d7d0.85c27","type":"debug","z":"91e28770.a65a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":421,"y":1325,"wires":[]},{"id":"e8c189eb.2a4e48","type":"rbe","z":"91e28770.a65a28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":319,"y":1184,"wires":[["49f6d7d0.85c27","28510653.3ec942","78257017.75052"]]},{"id":"ffd4bfc.dd27d4","type":"mqtt in","z":"91e28770.a65a28","name":"","topic":"io/analog1","qos":"2","datatype":"auto","broker":"b9b57550.517d58","x":148,"y":1020,"wires":[["698aa386.0832a4"]]},{"id":"bd4f23b5.ccf4e","type":"debug","z":"91e28770.a65a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":542,"y":994,"wires":[]},{"id":"698aa386.0832a4","type":"rbe","z":"91e28770.a65a28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":321,"y":1038,"wires":[["29d82cde.f029a4","bd4f23b5.ccf4e"]]},{"id":"29d82cde.f029a4","type":"mqtt out","z":"91e28770.a65a28","name":"","topic":"io/analog1_change","qos":"","retain":"","broker":"b9b57550.517d58","x":560,"y":1059,"wires":[]},{"id":"28510653.3ec942","type":"mqtt out","z":"91e28770.a65a28","name":"","topic":"sensor_motion_change","qos":"","retain":"","broker":"b9b57550.517d58","x":628,"y":1124,"wires":[]},{"id":"78257017.75052","type":"switch","z":"91e28770.a65a28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":550,"y":1212,"wires":[["e2883e59.1a62","29847f5c.9b23"],["12ad7da9.562bf2"]]},{"id":"e2883e59.1a62","type":"debug","z":"91e28770.a65a28","name":"switch on","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1117,"y":1277,"wires":[]},{"id":"12ad7da9.562bf2","type":"debug","z":"91e28770.a65a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"no motion\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":664,"y":1349,"wires":[]},{"id":"29847f5c.9b23","type":"function","z":"91e28770.a65a28","name":"reset delay","func":"msg1={reset:true}; \nmsg2={payload:\"What I need to be delayaed\", delay:50000}; \nreturn [[msg1,msg2]];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1181,"wires":[["8962b6da.6700c"]]},{"id":"246ef9d6.afe736","type":"debug","z":"91e28770.a65a28","name":"switch off","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1112,"y":1201,"wires":[]},{"id":"95f98c72.5da55","type":"inject","z":"91e28770.a65a28","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":182,"y":1453,"wires":[["76e0926e.ac4434"]]},{"id":"8a78d9dc.71c27","type":"debug","z":"91e28770.a65a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":799,"y":1455,"wires":[]},{"id":"8a70d4c2.f927e","type":"delay","z":"91e28770.a65a28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":606,"y":1449,"wires":[["8a78d9dc.71c27"]]},{"id":"76e0926e.ac4434","type":"function","z":"91e28770.a65a28","name":"repeat delay","func":"msg1={reset:true}; \nmsg2={payload:\"What I need to be delayaed\", delay:50000}; \nreturn [[msg1,msg2]];\n","outputs":1,"noerr":0,"x":404,"y":1449,"wires":[["8a70d4c2.f927e"]]},{"id":"8962b6da.6700c","type":"delay","z":"91e28770.a65a28","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":955,"y":1189,"wires":[["246ef9d6.afe736"]]},{"id":"5d5c38ba.d835e8","type":"mqtt in","z":"91e28770.a65a28","name":"","topic":"io/button2Event","qos":"2","datatype":"auto","broker":"b9b57550.517d58","x":155,"y":949,"wires":[["afda0200.06af1"]]},{"id":"afda0200.06af1","type":"debug","z":"91e28770.a65a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":356.5,"y":972,"wires":[]},{"id":"8695a7fc.0f8358","type":"function","z":"91e28770.a65a28","name":"","func":"msg.payload = \"hallo\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":231,"y":608,"wires":[["de6687b6.119138"]]},{"id":"412e43e6.513a9c","type":"debug","z":"91e28770.a65a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600.5,"y":466,"wires":[]}]